@font-face {
  font-family: cursive;
  src: url(./fonts/cursive.ttf);
}

@font-face {
  font-family: oswald;
  src: url(./fonts/oswald.ttf);
}

@font-face {
  font-family: yellowtail;
  src: url(./fonts/yellowtail.ttf);
}

body {
  margin: 0;
  background-color: var(--homeBackgroundColor);
}

:root {
  --greetingSize: calc(var(--borderLength) * 3);
  --mainSize: 40vh;
  --screenHeight: 90vh;
  --screenWidth: 100vh;
  --buttonOpacity: 75%;
  --borderLength: 2vw;
  --letterSpacing: calc(var(--greetingSize) / 10);
  --buttonFontSize: calc(var(--greetingSize) / 2.5);
  --headerFontSize: calc(var(--greetingSize) / 3);
  --skewness: -8deg;
  --color: #fefaef;
  --homeBackgroundColor: #e6e6fa;
  --highlightColor: #bd53db;
}

.headerContainer {
  display: flex;
  background-color: var(--homeBackgroundColor);
  justify-content: left;
  align-items: center;
}

.nameSignature {
  font-family: oswald;
  margin-left: 30px;
}

.nameDescription {
  font-family: yellowtail;
  flex: 1;
  margin-left: 60px;
}

.nameDescription,
.nameSignature,
.resumeButton,
.projectButton,
.contactButton,
.homeButton {
  color: black;
  font-size: var(--headerFontSize);
  text-decoration: none;
}

.homeButton,
.resumeButton,
.contactButton {
  background-color: transparent;
  height: fit-content;
  opacity: 100%;
  border: transparent 4px solid;
  margin: 10px;
  font-family: oswald;
}

.container {
  display: flex;
  justify-content: center;
  min-width: 80vw;
  min-height: 80vh;
  border: var(--borderLength) solid #fefaef;
}

.postcard {
  overflow: hidden;
  width: 100vw;
  height: 95vh;
  background: linear-gradient(160deg, #ffe3ef 50%, #6dd5ed 100%);
}

.greetingsButtonRow {
  display: flex;
  align-items: end;
}

.greetingsText {
  font-size: var(--greetingSize);
  font-family: yellowtail;
  letter-spacing: calc(var(--greetingSize) / 10);
  color: black;
  margin: 10px 0 0 30px;
}

.emptySpace {
  margin: 10px 0 0 30px;
  flex: 0.95;
}

.homeDisplay {
  position: relative;
}

.projectsText {
  position: relative;
  font-family: oswald;
  font-size: var(--mainSize);
  transform: skewY(var(--skewness));
  letter-spacing: -22px;
  text-align: center;
  z-index: 1;
  background-image: url(./pictures/cornell.jpeg);
  background-repeat: no-repeat;
  -webkit-text-stroke: 4px black;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100vw;
  background-position-y: 30%;
  background-position-x: -25%;
  color: transparent;
  -webkit-filter: drop-shadow(20px 00px white);
  filter: drop-shadow(25px 0px white);
  margin-left: -20px;
}

.location {
  font-family: yellowtail;
  font-size: var(--greetingSize);
  position: absolute;
  bottom: -30px;
  right: 8vh;
  letter-spacing: var(--letterSpacing);
}

.timelineContainer {
  min-width: 100vw;
  display: flex;
  justify-content: center;
}
.timeline {
  position: relative;
  max-width: 1px;
  justify-content: center;
  content: "";
  min-height: 100vh;
  border: 4px solid black;
  margin-top: 2vh;
}

.leftContainer,
.rightContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.amazon1Front,
.amazon1Back,
.LJLFront,
.edgiFront,
.embodyFront,
.busFront,
.whartonFront,
.XMPFront,
.amazon2Front,
.painFront,
.amazon3Front,
.emptyBox,
.leftemptyBox {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--headerFontSize));
  width: 35vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  height: 40vw;
  background-color: white;
  border-radius: 20px;
  border: solid black 3px;
}

.emptyBox,
.instructionsBox,
.leftemptyBox {
  border: transparent;
  background-color: transparent;
}

.emptyBox,
.leftemptyBox {
  height: 20vw;
  font-family: oswald;
  text-align: right;
  padding-top: 30%;
}

.leftemptyBox {
  text-align: left;
}

.topBox {
  height: 26vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  color: black;
  font-family: oswald;
  font-size: calc(var(--headerFontSize) / 1.2);
  padding-top: 300px;
  height: 15vw;
}

.instructionsBox {
  font-family: oswald;
  text-align: center;
  margin-top: 10px;
}

.instructionsBox {
  color: black;
}

.amazon3 {
  margin-bottom: 80px;
}

.amazon1Name,
.LJLName,
.edgiName,
.embodyName,
.busName,
.whartonName,
.XMPName,
.amazon2Name,
.painName,
.amazon3Name,
.amazon1LocDate,
.LJLLocDate,
.edgiLocDate,
.embodyLocDate,
.busLocDate,
.whartonLocDate,
.XMPLocDate,
.amazon2LocDate,
.painLocDate,
.amazon3LocDate {
  flex: 1;
  font-weight: bold;
  padding: 20px;
}

.amazon1LocDate,
.LJLLocDate,
.edgiLocDate,
.embodyLocDate,
.busLocDate,
.whartonLocDate,
.XMPLocDate,
.amazon2LocDate,
.painLocDate,
.amazon3LocDate {
  align-content: end;
}

.amazon1pic,
.LJLpic,
.edgipic,
.buspic,
.embodypic,
.whartonpic,
.XMPpic,
.amazon2pic,
.painpic,
.amazon3pic {
  height: 600px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.amazon1Desc,
.LJLDesc,
.edgiDesc,
.busDesc,
.embodyDesc,
.whartonDesc,
.XMPDesc,
.amazon2Desc,
.painDesc,
.amazon3Desc {
  display: none;
  color: red;
  height: 600px;
  overflow-wrap: break-word;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: var(--color);
}

.amazon1pic {
  opacity: 100;
  background: url(./pictures/AFE.jpg) center;
}

.whartonpic {
  background: url(./pictures/penn.jpg) center;
  background-size: contain;
}
.LJLpic {
  background: url(./pictures/ljl.jpg) center;
  background-size: cover;
}
.XMPpic {
  background: url(./pictures/xmp.jpg) center;
  background-size: 101%;
}
.edgipic {
  background: url(./pictures/edgi.jpg) center;
  background-size: cover;
}
.amazon2pic {
  background: url(./pictures/aws2.jpg) center;
  background-size: cover;
}
.buspic {
  background: url(./pictures/h4i.jpg) center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}
.painpic {
  background: url(./pictures/cornell.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
}
.embodypic {
  background: url(./pictures/humec.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
}
.amazon3pic {
  background: url(./pictures/aws.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
}
